<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="left-side">
                <div class="heading">
                    <p>Total Applications</p>
                </div>
                <div class="number">
                    <p>7956</p>
                </div>
                <div class="percent">
                    <p><i class="fas fa-chart-line"></i> +3.59%</p>
                </div>

            </div>
            <!--graph-->
            <div class="right-side">
                <div class="graph1">
                    <div class="dough" style="display: block; width: 190px; height: 100px;">
                        <canvas baseChart
                              height="10vh" width="20vw"
                                    [data]="doughnutChartData1"
                                    [colors]="doughnutColors1"
                                    [chartType]="doughnutChartType1"
                                    ></canvas>
                      </div>
                </div>

            </div>
           

           </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-2">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="left-side">
                    <div class="heading">
                        <p>Shortlisted Candidates</p>
                    </div>
                    <div class="number">
                        <p>4658</p>
                    </div>
                    <div class="percent-2">
                        <p><i class="fas fa-chart-line"></i> -0.6%</p>
                    </div>
                    </div>
                    <!--graph-->
    <div class="right-side">
        <div class="graph1">
            <div class="dough" style="display: block; width: 190px; height: 100px;">
                <canvas baseChart
                      height="10vh" width="20vw"
                            [data]="doughnutChartData2"
                            [colors]="doughnutColors2"
                            [chartType]="doughnutChartType2"
                            ></canvas>
              </div>
        </div>

    </div>
</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="left-side">
                    <div class="heading">
                        <p>Total Applications</p>
                    </div>
                    <div class="number">
                        <p>1501</p>
                    </div>
                    <div class="percent-3">
                        <p><i class="fas fa-chart-line"></i> -0.4%</p>
                    </div>
                  
                </div>
                  <!--graph-->
                  <div class="right-side">
                    <div class="graph1">
                        <div class="dough" style="display: block; width: 190px; height: 100px;">
                            <canvas baseChart
                                  height="10vh" width="20vw"
                                        [data]="doughnutChartData3"
                                        [colors]="doughnutColors3"
                                        [chartType]="doughnutChartType3"
                                        ></canvas>
                          </div>
                    </div>

            </div>
          </div>
        </div>
      </div>
  </div>


  


