<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="left-side">
                <div class="heading">
                    <p>Total Applications</p>
                </div>
                <div class="number">
                    <p>7956</p>
                </div>
                <div class="percent">
                    <p><i class="fas fa-chart-line"></i> +3.59%</p>
                </div>

            </div>
            <!--graph-->
            <div class="right-side">
                <div class="graph1">
                    <google-chart #chart  
                                
                                [type]="type"  
                                [data]="data"  
                                
                                [options]="options"  
                                [width]="width"  
                            [height]="height">  
                            </google-chart>
                  
                </div>

            </div>
           

           </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-2">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="left-side">
                    <div class="heading">
                        <p>Shortlisted Candidates</p>
                    </div>
                    <div class="number">
                        <p>4658</p>
                    </div>
                    <div class="percent-2">
                        <p><i class="fas fa-chart-line"></i> -0.6%</p>
                    </div>
                    </div>
                    <!--graph-->
    <div class="right-side">
        <div class="graph1">
            <google-chart #chart  
                                
            [type]="type2"  
            [data]="data2"  
            
            [options]="options2"  
            [width]="width2"  
        [height]="height2">  
        </google-chart>
          
        </div>

    </div>
</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="left-side">
                    <div class="heading">
                        <p>Total Applications</p>
                    </div>
                    <div class="number">
                        <p>1501</p>
                    </div>
                    <div class="percent-3">
                        <p><i class="fas fa-chart-line"></i> -0.4%</p>
                    </div>
                  
                </div>
                  <!--graph-->
                  <div class="right-side">
                    <div class="graph1">
                        <google-chart #chart  
                                
                        [type]="type3"  
                        [data]="data3"  
                        
                        [options]="options3"  
                        [width]="width3"  
                    [height]="height3">  
                    </google-chart>
                       
                    </div>

            </div>
          </div>
        </div>
      </div>
  </div>


  


