  <div class="camp-body-main">
    <div class="camp-header d-flex justify-content-between">
        <div><p>Referrals and Campaigns Stats</p></div>
        <div>
          <!--  <div><span><i class="fas fa-location-arrow"></i></span></div>-->
            <p><span class="color-red"><i class="fas fa-location-arrow"></i>  40 Campaigns sent in total <br/></span>4 Campaigns sent in first month</p>
        </div>
</div>
<div class="camp-body d-flex justify-content-between">
    <div class="camp-val">
        <div class="heading">
            <p>Users Reached</p>
        </div>
        
        <div class="percent">
            <p><i class="fas fa-chart-line"></i> +3.59%</p>
    </div>
    <div class="number">
        <p>7956</p>
    </div>

</div>
<div class="camp-val">
    <div class="heading">
        <p>Refferals</p>
    </div>
    
    <div class="percent">
        <p><i class="fas fa-chart-line"></i> +3.59%</p>
</div>
<div class="number">
    <p>0662</p>
</div>

</div>
<div class="camp-val">
    <div class="heading">
        <p>Shares</p>
    </div>
    
    <div class="percent">
        <p><i class="fas fa-chart-line"></i> +3.59%</p>
</div>
<div class="number">
    <p>1478</p>
</div>

</div>
<div class="camp-val">
    <div class="heading">
        <p>Applications</p>
    </div>
    
    <div class="percent">
        <p><i class="fas fa-chart-line"></i> +3.59%</p>
</div>
<div class="number">
    <p>0564</p>
</div>

</div>


</div>
<div class="camp-button">
    <div class="d-flex justify-content-around">
        <a class="waves-effect waves-light btn-large btn-1">Start a New Campaign Now</a>
        <a class="waves-effect waves-light btn-large btn-2">Pause All Running Campaigns</a>
    </div>

</div>
