<div class="line-main">
    <div class="d-flex justify-content-between header">
        <p class="app-header">Applications Recieved</p>
        <p>This Year</p>
        <p>This week</p>
        <p>Today</p>
        <p>Downloaded Report</p>
       <p> <i class="fas fa-ellipsis-v"></i></p>

    </div>
    
    <div class="line-graph">
        <google-chart #chart  
                                
        [type]="type"  
        [data]="data"  
        
        [options]="options"  
        [width]="width"  
    [height]="height">  
    </google-chart>
     
    </div>
</div>

