<div class="center-2">
    <p>Total Applications</p>
<div class="d-flex justify-content-between">
     <p style="color:#afb9ef">Application</p>
     <div class="percent-fill-1"></div>
    </div>
    <div class="d-flex justify-content-between">
        <p style="color:#497df5">Linked</p>
        <div class="percent-fill-2"></div>
       </div>
       <div class="d-flex justify-content-between">
        <p style="color:#f02b2b">Rejected</p>
        <div class="percent-fill-3"></div>
       </div>
       <div class="d-flex justify-content-between">
        <p style="color:#f598e7 ">On Hold</p>
        <div class="percent-fill-4"></div>
       </div>    
       </div> 
       <div class="d-flex justify-content-between">
        <p style="color:#521482">Featured</p>
        <div class="percent-fill-5"></div>
       </div>    
                      
