
.first{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.main-row{
    height: 95%;
    position:relative;
}
.waves-effect.waves-light.btn{
    background-color: #5086fa;
    color:white;
    text-align: center;
    width:200px;
    height:40px;
    border-radius: 1px;
}
.waves-effect.waves-light.btn>i{
    font-size:15px;
    padding-right:3px;
}
.header{
    width:100%;
}
i{
    color:white;
}
ul{
   padding-left:30px;

   
    }
ul>li{
    margin-top: 15px;
}
.side-menu{
    margin-top:20px;
    
}

.side-parent{
    width:5%;
    border-right: 0.5px solid #0a0c0f;
    margin:0px;
}
.end-icon{
    position: absolute;
    
}
.body{
    height:80vh;
}
.header-title{
    font-family: 'Source Code Pro', monospace;
    color:white;
    font-size:1.3em;
   margin-left: 80px;
}
.header-row{
    padding-top:25px;
}
.title-sub{
    font-size:15px;
}
.header-date{
    font-size: 15px;
    color:#3d94eb;
}
.header-space{
    width:5%;
    height:95.5px;
    margin-right: 0px;
}
.search-box>input{
    height:30px;
    width:200px;
    
}
.fas.fa-search{
    padding-right: 7px;
    padding-left:30%;
}

.col-md-8.center-1{
    border:1px solid #0a0c0f;
    height:300px;
   
}
.col-md-4.center-2{
    border:1px solid #0a0c0f;
    height:300px;

}
.end-body{
width:360px;
font-family: 'Roboto', sans-serif;
font-size:15px;
color:#e6e3e3;

border:1px solid #0a0c0f
}
img{
    height:200px;
    width:250px;
    margin-bottom:8px;
}
.greet{
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
    font-family: 'Source Code Pro', monospace;
}
.image{
    margin-left:15%;
    margin-top:15px;
    margin-bottom: 15px;
}
.new-app{
    padding-left:18px;
    font-weight:500;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 35px;
}
.part-2{
    margin-right:10px;
    padding-right:10px;
    font-size:15px
}
.part-1>p>span{
    color:#517ebd;
    font-size: 12px;
}
.far.fa-envelope{
    margin-right: 15px;
}
.center-2>p{
    font-weight:500;
    font-family: 'Source Code Pro', monospace;
    margin-top:20px;
    color:#e6e3e3;
    font-size: 12px;
}

.center-2{
    color:#e6e3e3
}
.profile>img{
    width:30px;
    height:30px;
   border-radius: 50%;
}
.profile-main{
    width:160px;
    color:white;
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
    margin-left:85%;
}
.fas.fa-bell{
    font-size: 17px;;
}
