
<div class="first">
    <div class="header">
        <div>
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <ul class="side-menu" style="list-style-type:none">
                <li><i class="fas fa-home"></i></li>
                <li><i class="fas fa-chart-bar"></i></li>
                <li><i class="fas fa-camera"></i></li>
                <li><i class="far fa-folder"></i></li>
                <li><i class="fas fa-calendar-check"></i></li>
                <li><i class="far fa-user"></i></li>
                <li><i class="far fa-id-card"></i></li>
                <li><i class="fas fa-sign-out-alt"></i></li>
                <li class="end-icon"><i class="fas fa-cog"></i></li>
            </ul>
        </div>
        <div class="col-md-7">
            <p>M</p>
        </div>
        <div class="col-md-4">
            <p>M</p>
        </div>
    </div>
</div>