<div class="left">
    <div class="d-flex justify-content-start">
        <div class="image-logo">
          <img src="../../assets/logoB.jpg">
        </div>
        <div class="first-btn">
            <a class="waves-effect waves-light btn" [routerLink]="['/first']"> Go To First Page</a>
          </div>
    </div>
    <div class="d-flex justify-content-center profile-main">
        <div class="profile">
            <img src="../../assets/profile2.jpg">
        </div>
        <p>Anand Agarwal<br/><span>anand@work.com</span></p>

    </div>
    <div class="d-flex justify-content-between links-main">
        <div class="left-links">
            <ul>
                <li class="active-li">Motivation</li>
                <li>Productivity</li>
                <li>Design</li>
                <li>Study</li>
            </ul>
        </div>
        <div class="left-button">
          <a class="waves-effect waves-light btn"> Hey There!</a>
        </div>

    </div>
    <div class="d-flex justify-content-center rocket-main">
        <div class="rocket-div d-flex justify-content-center">
            <div class="rocket-icon">
                <i class="fas fa-rocket"></i>
            </div>
            <div>
                <p>Pro account is more powerful.Get 30%off</p>
                <div class="sub-btn">
                    <a class="waves-effect waves-light btn subs">Get now</a>
                </div>
            </div>
        </div>

    </div>
    <div class="logout">
        <div class="d-flex justify-content-between">
            <div class="logout-btn">
                <p>Logout</p>
            </div>
            <div class="floating-btn">
                <a class="btn-floating btn-large waves-effect waves-light"><i class="fas fa-plus"></i></a>

            </div>

        </div>

    </div>

</div>
